.slideshow-container {
  min-width: 600px;
  max-width: 1920px;
  height: 325px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.slideshow-wrapper {
  display: flex;
  position: relative;
}

.prev-slide, .next-slide {
  font-size: xx-large;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  min-width: 48px;
  min-height: 75px;
  border-radius: 8px;
  background-color: #ccd0cf;
  border: 1px solid #ddd;
  opacity: .5;
}

.prev-slide:hover, .next-slide:hover {
  box-shadow: 3px 3px black;
}

.prev-slide {
  left: 24px;
}

.next-slide {
  right: 24px;
}

.slide-wrapper {
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
}

.slide {
  display: flex;
  position: relative;
  transition: all 350ms linear;
}

.slide > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.slide a {
  text-decoration: none;
  color: black;
}

.text {
  position: absolute;
  background-color: beige;
  opacity: .85;
  width: 400px;
  top: 63%;
  border-radius: 0 5px 5px 0;
}

.slide img {
  width: 1920px;
  height: 400px;
}

.text p {
  font-size: 45px;
  margin: 0;
  color: black;
}