.photo {
    float: left;
    padding: 10px;
    width: 300px;
}

.name {
    font-size: xx-large;
}

.dept-category-type {
    font-size: x-large;
}

.amount {
    float: right;
    font-weight: bold;
}

.length {
    width: 100%;
}