.errMsg {
  color: red;
  font-size: 14px;
  margin: 0px 2px 4px 4px;
}

link {
  text-decoration: none;
}

.popular-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 1.4rem;
}

.popular-main {
  height: auto;
  padding-bottom: 1rem;
  overflow: auto;
  overflow: hidden;
}

.popular-main h1 {
  margin-top: -.2rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: 600;
}

.new-main h1 {
  margin-top: -.2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  margin-left: 3rem;
}

.new-main {
  height: auto;
  padding-bottom: 1rem;
  overflow: auto;
  overflow: hidden;
}

.new-products {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-evenly;
  margin: 20px;
}