.app {
  display: grid;
  column-gap: 15px;
  row-gap: 30px;
  grid-template-columns: repeat(4, auto);
  justify-content: stretch;
  margin: 20px;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}