.modal-container {
    color: #2d3e50;
    background-color: white;
    border: 3px solid #2d3e50;
    border-radius: 10px;
    height: 550px;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    justify-content: center;
    padding: 3%;
  }
  
  /* .modal {
    background-color: white;
    border: 3px solid #2d3e50;
    border-radius: 10px;
    box-shadow: 10px 5px 10px 5px rgba(255, 255, 255, .5);
    height: 600px;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 1000;
  } */
  
  .top-bar {
    width: 590px;
    height: 100px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-color: #7F7F7F;
    background-position: top;
    border: 1px solid #7F7F7F;
    z-index: 10;
    margin-left: -46px;
    margin-top: -45.5px;
  }
  
  .bottom-bar {
    width: 590px;
    height: 80px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #ccd0cf;
    background-position: bottom;
    border: 1px solid #ccd0cf;
    margin-top: 30px;
    margin-left: -46px;
    margin-bottom: -45px;
  }
  
  .topContainer {
    width: 500px;
    height: 240px;
  }
  
  .productImg {
    float: left;
    border: 1px solid black;
    width: 75%;
    justify-self: left;
    margin-top: -70px;
    z-index: 2;
  }
  
  .name {
    color: #1C2964;
    font-weight: 500;
    margin-top: 0%;
    margin-left: -5px;
  }
  
  .swatchContainer {
    display: flex;
    padding: 0%;
    margin-top: -6%;
  }
  
  .swatchHeader {
    font-weight: 600;
    padding: 0%;
    margin-top: -5%;
  }
  
  .colorSwatch {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 0%;
    margin-top: 3%;
    margin-left: 4%;
  }
  
  #secondarySwatch {
    margin-left: 15px;
  }
  
  .description {
    width: 500px;
    height: 105px;
    font-size: large;
    /* overflow-y: scroll; */
    margin-top: 5%;
  }
  
  .price {
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .icon {
    justify-self: right;
    float: right;
    margin-right: 30px;
    margin-top: -38px;
  }
  
  .icon:hover {
    cursor: pointer;
  }

  .wishlist {
    justify-self: right;
    float: right;
    margin-right: 10px;
    margin-top: -38px;
  }

  .wishlist:hover {
    cursor: pointer;
  }
  
  .close {
    border-radius: 100%;
    border: 2px solid #7F7F7F ;
    justify-self: right;
    float: right;
    width: 45px;
    height: 45px;
    padding: 0%;
    background-color: #1C2964;
    font-size: large;
    color: #ccd0cf;
    font-weight: bold;
    margin-right: 0px;
    margin-top: -70px;
  }
  
  .close:hover {
    cursor: pointer;
  }