.card-text {
    margin-top: -.8rem !important;
    margin-bottom: -.8rem !important;
    font-size: 2rem !important;
}

.text-background {
    /* border: 1px red solid; */
}

.card-img {
    height: 350px;
    max-height: 400px;
}