.login-main {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  padding-top: .5rem;
  margin-top: .6rem;
  margin-bottom: .9rem;
  margin-left: 1rem;
  margin-right: 0;
  width: 100%;
  border-radius: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(236, 236, 236);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.form-input {
  padding: 1rem 1rem 1rem 1rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: 85%;
  border-radius: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(236, 236, 236);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.error {
  color: red;
  position: absolute;
  margin-top: -1.5rem;
  margin-left: 1rem;
}

.form-header {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

/* CSS */
.button-1 {
  background-color: #1C2964;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 92%;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.button-1:hover,
.button-1:focus {
  background-color: #1c2964bb;
}


.loginButton { 
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
  font-weight: 500;
  height: 40px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo {
  width: 11.5rem;
}
.MuiGrid-root .MuiGrid-container .MuiGrid-item {
  height: 5.6rem;
}

div.MuiGrid-justify-xs-flex-end:nth-child(3)>div:nth-child(1) {
  padding-top: 1.35rem;
}

.login-name {
  color: #fdf5ca;
}

.department {
  color: #fdf5ca;
  text-decoration: none;
  font-size: 34px;

}

/* container for search box and search button */
.SiteSearch_search__HrCav {
  position: absolute;
  top: 3.3rem;
  left: 77.4%;
  padding-top: .3rem;
}

.login-name {
  position: absolute;
  margin-left: -8rem;
}


.iconWrapper{
    align-items: center;
    display: flex;
}