.login-main {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  padding: 1rem 1rem 1rem 1rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: 85%;
  border-radius: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(236, 236, 236);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.error {
  color: red;
  position: absolute;
  margin-top: -1.5rem;
  margin-left: 1rem;
}

.form-header {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

/* CSS */
.button-1 {
  background-color: #1C2964;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 92%;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.button-1:hover,
.button-1:focus {
  background-color: #1c2964bb;
}

.loginButton {
  background-color: #5681c1;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 92%;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.logo {
  width: 10rem;
  margin-top: -1rem;
}

.department {
  color: #fdf5ca;
  text-decoration: none;
  font-size: xx-large;
}

.login-name {
  color: #fdf5ca;
  font-size: large;
  margin-left: -8rem;
  margin-top: 2rem;
  position: absolute;
}