.footer-container {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #FDFAEA;
  padding-bottom: 45px;
}

.nav-links {
  color: #1C2964;
  font-size: 20px;
  text-decoration: none;
}

.inc {
  color: #1C2964;
  font-size: 15px;
}

.footer-logo {
  width: 7rem;
}